<% include partials/header %>
<div id="titlehead">
<p id="title">DestinationsForYou</p>
<a href="/campgrounds" class="circle-a">Get Started<br><i class="fa fa-binoculars"></i></a>
</div>
<div class="mainbox">
<p class="imgageslide"></p>
<p class="imgageslide"></p>
<p class="imgageslide"></p>
</div>
<% include partials/footer %>
